* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   text-decoration: none;
    
}

body{

    background-image: url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(3px);
 }
    
.header{
    height: 100px;
    padding: 50px;
    background-color: #00c0ff98;
    border-bottom: 5px solid orange;    
}
.container_logo{
    height: 100%;
    float: left;
    display: table;
}
.container_logo h1{
    float: left;
    margin-left: 5px ;
    font-size: 25px ;
    font-family: serif (red-serifs);
    font-weight: bold;
    vertical-align: middle;
    color: white;
    margin-top: -15px;
    font-variant: small-caps;
}
.logo_span{
    color: orange;
}
.navbar{
    float: right;
    
    margin-top: -15px;
} 
.navbar ul{
    list-style: none;
        
}
.navbar ul li {
 display: inline-block;
 
}
.navbar ul li a { 
display: block;
  min-width: 60px;
  color: white;
 }
.navbar ul li a:hover {
    background-color: orange; }
div h2{
    Color: orange;
    text-align: center ;
    font-family: serif (red-serifs);
    font-weight: bold;
    font-size: 45px;
}
.h2_p{
    color: white;
    text-align: center ;
    font-family: serif (red-serifs);
    font-weight: bold;
    font-size: 20px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  border: 10px solid #e8491d;
  border-top: none;
  border-left: none;
 
}
.img2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #e8491d;
  border-top: none;
  border-left: none;
 
}
.botton1{
  padding: 7px;
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  width: 100px;
  float: center;
  text-align: center;
  vertical-align: middle;
  margin-top: -7px;
}
.botton1 b{
     text-align: center;
  font-size: 15px;
  margin-down: 70px;
}
.botton1 a:hover{
    color: orange;
    transform: translateY(-10px);
    transition: 2s;
}
.container2{
    height: 180px; 
    padding: 50px;
    background-color: #00c0ff98;
    border-bottom: 5px solid orange;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 100px;
}
.container2 H3{
    text-align: center;
    color: white;
    font-size: 25px ;
    font-family: serif (red-serifs);
    font-weight: bold;
    margin-top: -40px;
}
.container2 p{
    color: orange;
    font-family: serif (red-serifs);
    font-weight: bold;
    text-align:center ;
    font-size: 13px;
    margin-top: 10px;    
}
 .aq b {
 color: red;
float: center;
}
.container3{
    height: 180px;
    padding: 50px;
    background-color: #00c0ff98;
    border-bottom: 5px solid orange;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 100px;
}
.container3 H3{
    text-align: center;
    color: white;
    font-size: 25px ;
    font-family: serif (red-serifs);
    font-weight: bold;
    margin-top: -40px;
}
.container3 p{
    color: orange;
    font-family: serif (red-serifs);
    font-weight: bold;
    text-align:center ;
    font-size: 13px;
    margin-top: 10px;
}
.botton2 b{
     text-align: center;
  font-size: 15px;
  margin-down: 70px;
}
.botton2 a:hover{
    color: orange;
    transform: translateY(-10px);
    transition: 2s;
}
.botton2{
  padding: 7px;
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  margin-top: -7px;
    float: center;
}
.down-buttom {
    display: flex;
    position: sticky;
    bottom: 0;
    padding: 15px;
    background-color: black;
    text-align:center;
    font-family: Georgia;
    font-weight: 600;
    font-size: 8px;
    color: white;
}
